*.js
!babel.config.js
!Routing/utilities/user.service.js
!Routing/utilities/history.js
!Routing/utilities/data.service.js
!Routing/utilities/serviceUtils.js
*.map
!jest.config.js
!shared/jest/jest.init.js
!shared/jest/utils/*
src/components/safetycopy.tsx
node_modules/
!webpack.config.js
!stories/
!.storybook/*
!next-mdx/
!next-mdx/*
!next-mdx/*/*.js
next-mdx/.next
node_modules/**
node_modules
dist/src/
package.json
